@page "/client/{Id:long}"
@using RocketShop.Framework.Extension
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.Page
@using RocketShop.Warehouse.Admin.Components.Credential.Partial
<h3>ClientDetail</h3>

@code {
    [Parameter]
    public required long Id { get;set; }
    int mode = 1;
    void SetMode(int newmode)
    {
        mode = newmode;
        StateHasChanged();
    }
}
<CascadingAuthenticationState>
    <AuthorizeView Policy="@ServicePermission.PolicyNames.AppCredentialManagerName">
        <Authorized>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link @(mode.Eq(1) ?"active" : "")" @onclick="()=> SetMode(1)">General Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(mode.Eq(2) ?"active" : "")" @onclick="()=> SetMode(2)">Secret</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(mode.Eq(3) ?"active" : "")" @onclick="()=> SetMode(3)">Allowed Object & Expiration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(mode.Eq(4) ?"active" : "")" @onclick="()=> SetMode(4)">Log History</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <NHIF Condition="mode.Eq(1)">
                        <ClientGeneralInformation ClientId="Id" />
                    </NHIF>
                    <NHIF Condition="mode.Eq(2)"></NHIF>
                    <NHIF Condition="mode.Eq(3)">
                       <TokenConfiguration />
                    </NHIF>
                    <NHIF Condition="mode.Eq(4)"></NHIF>
                </div>
            </div>

        </Authorized>
        <NotAuthorized>
            <AccessDenied />
        </NotAuthorized>
    </AuthorizeView>
    
</CascadingAuthenticationState>
