@using RocketShop.Database.Model.Warehouse.Authorization
@using RocketShop.Framework.Extension
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.SharedFunction
@using RocketShop.SharedBlazor.Tools
@using RocketShop.Warehouse.Admin.Services
@inject IHttpContextAccessor httpContextAccessor
@inject IClientServices clientServices

@code {
    [Parameter]
    public required long ClientId { get; set; }
    bool clientIdInvalid, clientNameInvlid,majorException;
    Client item = new Client();
    LoadingModal? loading;
    protected override async Task OnInitializedAsync()
    {
        majorException = false;
        try
        {
            var itemResult = await clientServices.GetClient(ClientId);
            if (itemResult.IsLeft)
                throw itemResult.GetLeft()!;
            item = itemResult.GetRight()!;
        }
        catch
        {
            majorException = true;
        }
        finally
        {
            StateHasChanged();
        }
    }
    async Task Submit()
    {
        clientIdInvalid = item.ClientId.IsNullOrEmpty();
        clientNameInvlid = item.ClientName.IsNullOrEmpty();
        if (clientIdInvalid.Or(clientNameInvlid))
            return;
        loading!.Open("Updating...");
        try
        {
            item.UpdateBy = httpContextAccessor.GetCurrentUserId();
            item.Updated = DateTime.UtcNow;
            var result = await clientServices.Update(item);
            if (result.IsLeft)
                throw result.GetLeft()!;
            await activityLogService.Create("Warehouse Admin", "Client", $"Update General Information Of '{item.Id} : {item.ClientId}'");
            await loading.Then(true, "Success", "Update Success");
        }
        catch
        {
            await loading.Then(false, "Failed", "Update Failed");
        }
        finally
        {
            StateHasChanged();
        }
    }
}
<NHIF Condition="majorException">
    <NoOperation>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>General Information</h1>
                <div class="form-group">
                    <label for="text">Client Id</label>
                    <input id="text" name="text" @bind-value="item.ClientId" type="text" class="form-control @TextValidator.InvalidDisplay(clientIdInvalid)">
                </div>
                <div class="form-group">
                    <label for="text1">Client Name</label>
                    <input id="text1" name="text1" @bind-value="item.ClientName" type="text" class="form-control @TextValidator.InvalidDisplay(clientNameInvlid)">
                </div>

                <MudSwitch @bind-Value="item.RequireSecret" Label="Secret Required" Color="Color.Primary" Size="Size.Large" />
                <small style="font-weight:bolder">If not selected, it will be considered an Unsafe Client.</small>
                <br />
                <div class="form-group">
                    <label for="text2">For Application</label>
                    <input id="text2" name="text2" @bind-value="item.Application" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="text3">Created</label>
                    <input id="text3" name="text3" value="@item.Created.ToDateAndTimeFormat()" readonly type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="text4">Last Updated</label>
                    <input id="text4" name="text4" value="@item.Updated.If(x=>x.HasValue,x=>x!.Value.ToDateAndTimeFormat(),x=> string.Empty)" readonly type="text" class="form-control">
                </div>
                <MudButton Variant="Variant.Filled" OnClick="Submit" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save">Save Changes</MudButton>
            </div>
            <div class="col-1"></div>
        </div>
    </NoOperation>
    <YesOperation>
        <center>
            <div class="alert alert-danger text-4xl font-bold" role="alert">Error While Gethering Current Client </div>
        </center>
    </YesOperation>
</NHIF>

<LoadingModal @ref="loading" />