@using RocketShop.HR.Components.Tools
@using RocketShop.HR.ServicePermissions
@using RocketShop.Shared.Helper
@inject IConfiguration configuration;
@code {
    [CascadingParameter]
    AuthenticationState? authState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await InvokeAsync(StateHasChanged);
    }
}
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RocketShop HR</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView Policy="@ServicePermission.HREmployeeName">
                <Authorized>
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="Employee">
                            <NavIcon IconClass="bi bi-people-fill" /> Employee
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="@ServicePermission.HRFinancialName">
                <Authorized>
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="EmployeeFinace">
                            <NavIcon IconClass="bi bi-cash-coin" /> Financial
                        </NavLink>
                    </div>
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="Payroll">
                            <NavIcon IconClass="money icon" /> Payroll
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="@ServicePermission.AppAdminName">
                <Authorized>
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="Role">
                            <NavIcon IconClass="bi bi-list-check" /> Role
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="@ServicePermission.HREmployeeName">
                <Authorized>                
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="EmployeeReport">
                            <NavIcon IconClass="tablet alternate icon" /> Employee Report
                        </NavLink>
                    </div>
                     <div class="nav-item px-4">
                        <NavLink class="nav-link" href="EmployeeMatrixReport">
                            <NavIcon IconClass="tablet alternate icon" /> Employee Matrix Report
                        </NavLink>
                    </div>

                </Authorized>
            </AuthorizeView>
            <AuthorizeView Policy="@ServicePermission.HRAuditName">
                <Authorized>
                    <div class="nav-item px-4">
                        <NavLink class="nav-link" href="AuditLog">
                            <NavIcon IconClass="tasks icon" /> Audit Log
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

        </CascadingAuthenticationState>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="logout">
                            <NavIcon IconClass="bi bi-x-circle" />
                            Logout
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <NavIcon IconClass="bi bi-door-open" />
                            Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>

    </nav>
</div>

