@page "/Role/Create"
@using Blazored.Typeahead
@using RocketShop.Database.Helper
@using RocketShop.Database.Model.Identity
@using RocketShop.Database.Model.Identity.Views
@using RocketShop.Framework.Extension
@using RocketShop.HR.ServicePermissions
@using RocketShop.HR.Services
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.SharedFunction
@using RocketShop.SharedBlazor.Tools
@inject IRoleServices roleService
@inject ILogger<CreateRole> logger
@rendermode InteractiveServer
@code {
    Role role = new Role();
    IList<UserView>? selectedUser;
    IList<string>? AllowedPermission = new List<string>();
    LoadingModal? loading;
    bool isError,nameValidate;

    async Task<IEnumerable<string>> SearchPermission(string searchTerm) =>
        await Task.FromResult(RoleHelper.ListAllPermission().Where(x => x.ToLower().Contains(searchTerm.ToLower())).ToList());

    async Task Submit()
    {
        nameValidate = role.RoleName.IsNullOrEmpty();
        if (nameValidate)
            return;
        loading!.Open("Creating...");
        try
        {
            var props = typeof(Role).GetProperties();
            foreach(var prop in props)
            {
                if(prop.PropertyType == typeof(bool))
                {
                    var isAllowed = AllowedPermission?.Where(x => x == prop.Name).HasData();
                    prop.SetValue(role,isAllowed);
                }
            }
            var result = await roleService.Create(role);
            if (result.IsLeft)
                throw result.GetLeft()!;
            await activityLogService.Create("HR", "Role", "Create Role Success");
            await loading.Then(true, $"Role '{role.RoleName}' Has Created", "Success", "/role");
        }
        catch(Exception x)
        {
            logger.LogError(x, x.Message);
            await loading!.Then(false, "Error While Creating Role", "Failed");
        }
    }
}
<CascadingAuthenticationState>
    <AuthorizeView Policy="@ServicePermission.AppAdminName">
        <Authorized>
            <NHIF Condition="@isError">
                <YesOperation>
                    <div class="alert alert-danger" role="alert">
                        Something Went Wrong <button class="btn btn-link" @onclick="OnInitializedAsync">Refresh</button>
                    </div>
                </YesOperation>
                <NoOperation>
                    <h1 class="text-4xl font-bold">Create New Role</h1>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="card">
                                <div class="card-header text-3xl font-bold text-white bg-primary">
                                    Detail Setting
                                </div>
                                <div class="card-body table-info">
                                    <div class="form-group">
                                        <label for="text">Role Name</label>
                                        <input id="text" @bind-value="role.RoleName" name="text" type="text" class="form-control @TextValidator.InvalidDisplay(nameValidate)" >
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="text1">Allowed Permission</label>
                                        <BlazoredTypeahead class="form-control"
                                                           style="background-color:white"
                                                           Context="permission"
                                                           SearchMethod="SearchPermission"
                                                           EnableDropDown="true"
                                                           @bind-Values="AllowedPermission">
                                            <ResultTemplate>@permission</ResultTemplate>
                                            <SelectedTemplate>@permission</SelectedTemplate>
                                        </BlazoredTypeahead>
                                    </div>
                                    <br />
                                    <button class="btn btn-primary" @onclick="Submit"><i class="save icon" /> Save Changes</button>
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="col-1"></div>
                    </div>
                </NoOperation>
            </NHIF>
        </Authorized>
        <NotAuthorized>
            <h1 class="text-5xl font-bold">Access Denied</h1>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
<LoadingModal @ref="loading" />
