@page "/categories"
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using RocketShop.Database.Model.Retail
@using RocketShop.Framework.Extension
@using RocketShop.Retail.Components.Pages.Categories.Modal
@using RocketShop.Retail.Model
@using RocketShop.Retail.Service
@using RocketShop.Shared.SharedService.Scoped
@using RocketShop.SharedBlazor.Condition
@using RocketShop.SharedBlazor.Page
@using RocketShop.SharedBlazor.SharedBlazorServices.Scope
@using RocketShop.SharedBlazor.Table
@using RocketShop.SharedBlazor.Tools
@inject ICategoryServices categoryServices
@inject ILogger<CategoryIndex> logger
@inject IDownloadServices downloadServices
@inject IExportExcelServices exportServices
@implements IDisposable
@code {
    int count, currentPage = 1, lastpage = 1;
    bool isLoading, majorException, minorException, isExoprting;
    const string Headers = "Id;Name TH;Name EN;";
    string? search, _search, pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    List<MainCategory> mainCategories = new List<MainCategory>();
    List<BreadcrumbItem> items = new List<BreadcrumbItem>
    {
    new BreadcrumbItem("Home", href: "/"),
    new BreadcrumbItem("Category",  href: null, disabled: true)
    };
    CreateMainCategory? createMainCategory;
    UpdateMainCategory? updateMainCategory;
    DeleteMainCategory? deleteMainCategory;
    LoadingModal? loading;
    protected override async Task OnInitializedAsync()
    {

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authenicated = state.IsNotNull().And(state!.User.Identity!.IsAuthenticated);
        if (authenicated)
            await FetchData();
        else
            navigationManager.NavigateTo("/login");
    }
    async Task FetchData()
    {
        majorException = false;
        minorException = false;
        try
        {
            var result = await categoryServices.ListMainCategories(search, currentPage);
            if (result.IsLeft)
                throw result.GetLeft()!;
            mainCategories = result.GetRight()!;
            var countResult = await categoryServices.GetCountMainCategory(search);
            var lastPageResult = await categoryServices.GetLastPageMainCategory(search, 20);
            await Task.WhenAll(
                Task.Run(() =>
                {
                    if (countResult.IsLeft)
                    {
                        minorException = true;
                        count = 0;
                        return;
                    }
                    count = countResult.GetRight()!;
                }),
                Task.Run(() =>
                {
                    if (lastPageResult.IsLeft)
                    {
                        minorException = true;
                        lastpage = 1;
                        return;
                    }
                    lastpage = lastPageResult.GetRight()!;
                })
            );
        }
        catch
        {
            majorException = true;
        }
        finally
        {
            isLoading = false;
            StateHasChanged();

        }
    }
    async Task PageChanged(PagerEventArgs args)
    {

        currentPage = args.PageIndex + 1;
        await FetchData();
    }
    async Task SetSearch()
    {
        currentPage = 1;
        search = _search;
        await FetchData();
    }
    void CreateMainCategoryBtnClicked()
    {
        createMainCategory!.AfterSubmitAction = async () => await FetchData();
        createMainCategory!.Open();
    }
    async Task UpdateMainCategoryBtnClicked(MainCategory mainCategory)
    {
        updateMainCategory!.AfterSubmitAction = async () => await FetchData();
        await updateMainCategory!.Open(mainCategory.Id);
    }
    void DeleteMainCategoryBtnClicked(MainCategory mainCategory)
    {
        deleteMainCategory!.AfterSubmitAction = async () => await FetchData();
        deleteMainCategory!.Open(mainCategory);
    }
    async Task Export()
    {
        loading!.Open("Exporting...");
        await Task.Delay(100);
        try
        {
            var dataResult = await categoryServices.ListMainCategories();
            if (dataResult.IsLeft)
                throw dataResult.GetLeft()!;
            var data = dataResult.GetRight()!;
            var excelContent = exportServices.ExportExcel(await data.ToExcelModels().ToDataTableAsync());
            if (excelContent.IsLeft)
                throw excelContent.GetLeft()!;
            await activityLogService.Create("Retail", "Category", "Export Category Data");
            await downloadServices.DownloadAsync($"Main Category Data {DateTime.Now.ToString("ddMMyyyy_HHmmss")}.xlsx", excelContent.GetRight()!);
            logger.LogInformation("MainCategory Data Downloaded");
            loading.Close();

        }
        catch (Exception ex)
        {
            logger.LogError(ex, ex.Message);
            await loading.Then(false, "Error While Exporting Data", "Failed");
        }
        finally
        {
            StateHasChanged();
        }
    }
    async Task GetTemplate()
    {
        loading!.Open("Exporting...");
        await Task.Delay(100);
        try
        {
            var data = new List<MainCategory>();
            var excelContent = exportServices.ExportExcel(await data.ToExcelModels().ToDataTableAsync());
            if (excelContent.IsLeft)
                throw excelContent.GetLeft()!;
            await activityLogService.Create("Retail", "Category", "Get Main Category Template");
            await downloadServices.DownloadAsync($"Main Category Template {DateTime.Now.ToString("ddMMyyyy_HHmmss")}.xlsx", excelContent.GetRight()!);
            logger.LogInformation("MainCategory Template Downloaded");
            loading.Close();

        }
        catch (Exception ex)
        {
            logger.LogError(ex, ex.Message);
            await loading.Then(false, "Error While Exporting Template", "Failed");
        }
        finally
        {
            StateHasChanged();
        }
    }
    void IDisposable.Dispose(){

    }

}
<CascadingAuthenticationState>
    <AuthorizeView Policy="@ServicePermission.PolicyNames.SellerManager">
        <Authorized>
            <NHIF Condition="majorException">
                <YesOperation>
                    <center>
                        <div class="alert alert-danger text-4xl font-bold" role="alert">Error While Gethering Clients </div>
                    </center>
                </YesOperation>
                <NoOperation>
                    <NHIF Condition="minorException">
                        <div class="alert alert-warning text-3xl font-bold" role="alert">
                            This Current Operation ran With Problems.
                            &nbsp;&nbsp;
                            For a Better experience <button class="btn btn-link text-3xl font-bold" @onclick="FetchData">Please Try Again.</button>
                        </div>
                    </NHIF>
                    <h1 style="text-align:center">Category xc</h1>
                    <br />
                    <br />
                    <MudBreadcrumbs Items="items" />
                    <br />
                    <br />
                    <div>
                        <div Class="row">
                            <div Class="col-5">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" @bind-value="_search" placeholder="Category Name" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-info" type="button" @onclick="SetSearch"><i class="search icon"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <MudButton Color="Color.Info" Variant="MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.List" Href="/subcategories">View Sub Categories</MudButton>
                            </div>
                            <div class="col-2">
                                <h3 class="text-2xl font-semibold">Count : @count</h3>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <MudButton Variant="@MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" @onclick="CreateMainCategoryBtnClicked">Create New Category</MudButton>
                    <MudButton Variant="@MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Upload" Href="/upload-main-category" Color="Color.Success">Create From Excel</MudButton>
                    <MudButton Variant="@MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info" @onclick="Export">Export Data</MudButton>
                    <MudButton Variant="@MudBlazor.Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Warning" @onclick="GetTemplate">Get Template</MudButton>
                    <br />
                    <br />
                    <NHTypeTable Items="mainCategories"
                                 Columns="@Headers"
                                 TableClass="table table-hover"
                                 TableHeaderClass="table-dark"
                                 TableBodyClass="table-success"
                                 Context="mainCategory"
                                 LoadingFlagment="isLoading"
                                 LoadingDisplayText="Loading...">
                        <tr>
                            <td>@mainCategory.Id</td>
                            <td>@mainCategory.NameTh</td>
                            <td>@mainCategory.NameEn</td>
                            <td>
                                <button class="btn btn-warning mx-1" @onclick="async () => await UpdateMainCategoryBtnClicked(mainCategory)" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa-regular fa-pen-to-square"></i></button>
                                <a href="/category/@mainCategory.Id" class="btn btn-info mx-1" data-toggle="tooltip" data-placement="bottom" title="View Subcategory"><i class="fa-solid fa-list"></i></a>
                                <button class="btn btn-danger mx-1" @onclick="()=>DeleteMainCategoryBtnClicked(mainCategory)" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </NHTypeTable>
                    <RadzenPager ShowPagingSummary="true"
                                 PagingSummaryFormat="@pagingSummaryFormat"
                                 HorizontalAlign="HorizontalAlign.Right"
                                 Count="@((int)count)"
                                 PageSize="20"
                                 PageNumbersCount="@lastpage"
                                 PageChanged="@PageChanged" />
                </NoOperation>
            </NHIF>
        </Authorized>
        <NotAuthorized>
            <AccessDenied />
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>

<CreateMainCategory @ref="createMainCategory" />
<UpdateMainCategory @ref="updateMainCategory" />
<DeleteMainCategory @ref="deleteMainCategory" />
<LoadingModal @ref="loading" />